<launch>
  <include file="$(find raspimouse_ros_2)/launch/raspimouse.launch" /> 
  <include file="$(find lab_usb_9axisimu_driver)/launch/lab_usb_9axisimu_driver.launch" /> 

  <node pkg="joy" name="joy_node" type="joy_node" required="true">
    <param name="autorepeat_rate" value="3" />
  </node>

  <node pkg="raspimouse_game_controller" name="logicool_cmd_vel" type="logicool_cmd_vel.py" required="true" />

  <node pkg="urg_node" name="urg_node" type="urg_node" required="true" >
        <param name="frame_id" value="base_link"/>
  </node>
</launch>

